.single-task-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.single-task-page-header {
    display: flex;
    justify-content: space-between;
}

#comment-input {
    cursor: not-allowed;
}
