/* TODO Add site wide styles */
/* html {
    background-color: black;
} */

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.errors {
    color: red;
}

a {
    text-decoration: none;
}

html body {
    margin: 0px;
}
