.single-project-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-tasks-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-self: center; */
    /* align-content: center; */
    /* text-align: center; */
}

.single-project-page-header {
    display: flex;
    /* justify-content: space-between; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.single-project-header-details {
    /* text-align: center; */
    padding-right: 10px;
}

.single-project-edit-button {
    position: relative;
}

.single-project-edit-button > button {
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 100px;
    background-color: #fafafa;
}

.single-project-edit-button > button:hover {
    background-color: #eeeeee;
}

.edit-project-dropdown {
    /* border: 2px solid red; */
    display: flex;
    position: absolute;
    left: 2vw;
    top: .1vh;
    /* bottom: .1vh; */
    z-index: 1;
    border-radius: 10px;
    /* padding: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.226); */
}

.edit-project-modal-button > button {
    border: 1px solid blue;
    background-color: white;
    border-radius: 10px;
    width: 5vw;
    padding: 5px;
    color: blue;
}

.edit-project-modal-button > button:hover {
    background-color: blue;
    color: white;
}

.delete-project-modal-button > button {
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    width: 5vw;
    padding: 5px;
    color: red;
    margin-left: 3px;
}

.delete-project-modal-button > button:hover {
    background-color: red;
    color: white;
}

.single-project-add-task-button {
    display: flex;
    justify-content: center;
    background-color: #e04c3c;
    padding: 5px;
}

.single-project-add-task-button > button {
    border: none;
    background-color: #e04c3c;
    color: white;
}

.single-project-add-task-button > button:hover {
    background-color: rgba(255, 255, 255, 0.158);
}
